<?xml version="1.0" encoding="ISO-8859-1"?>   
  
<!DOCTYPE web-app   
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"  
    "http://java.sun.com/dtd/web-app_2_3.dtd">   
       
<web-app>   
 
  	<filter>
		<filter-name>LoginVerifyFilter</filter-name>
		<filter-class>esseecraque.filters.LoginVerifyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginVerifyFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>


  <servlet>   
    <servlet-name>action</servlet-name>   
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>   
    <init-param>   
      <param-name>application</param-name>   
      <param-value>ApplicationResources</param-value>   
    </init-param>   
    <init-param>   
      <param-name>config</param-name>   
      <param-value>/WEB-INF/struts-config.xml</param-value>   
    </init-param>   
    <init-param>   
      <param-name>debug</param-name>   
      <param-value>3</param-value>   
    </init-param>   
    <init-param>   
      <param-name>detail</param-name>   
      <param-value>3</param-value>   
    </init-param>   
    <load-on-startup>1</load-on-startup>   
  </servlet>   
  
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </servlet>	
 
   <servlet-mapping>
     <servlet-name>dwr-invoker</servlet-name>
     <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping> 
        
  <!-- Action Servlet Mapping -->   
  <servlet-mapping>   
    <servlet-name>action</servlet-name>   
    <url-pattern>*.do</url-pattern>   
  </servlet-mapping>
  
	  
  
  <!-- The Welcome File List -->   
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>  
     
  <!-- tag libs -->   
  <taglib>   
    <taglib-uri>/TLD/struts-bean.tld</taglib-uri>   
    <taglib-location>/WEB-INF/TLD/struts-bean.tld</taglib-location>   
  </taglib>   
  
  <taglib>   
    <taglib-uri>/TLD/struts-html.tld</taglib-uri>   
    <taglib-location>/WEB-INF/TLD/struts-html.tld</taglib-location>   
  </taglib>   
  
  <taglib>   
    <taglib-uri>/TLD/struts-logic.tld</taglib-uri>   
    <taglib-location>/WEB-INF/TLD/struts-logic.tld</taglib-location>   
  </taglib>    
      
</web-app>  