<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
  		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
		<property name="connection.url">jdbc:mysql://87.117.198.64:3306/esseecraque</property> 
		<property name="connection.username">esseecraque</property> 
		<property name="connection.password">esseecraque</property> 
		<property name="connection.pool_size">1</property> 
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property> 
		<property name="current_session_context_class">thread</property> 
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> 
		<property name="show_sql">true</property> 
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property> 
		<property name="hibernate.search.default.indexBase">/home/esseecraque/indexes</property> 
		<mapping class="esseecraque.bean.Assinante" /> 
		<mapping class="esseecraque.bean.Video" />
		<mapping class="esseecraque.bean.Vid" />
		<mapping class="esseecraque.bean.Voto" />
		<mapping class="esseecraque.bean.PersistentObject"/>
		
		<event type="post-update">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
	    </event>
    	<event type="post-insert">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
	    </event>
        <event type="post-delete">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
    	</event>
		
	</session-factory>
</hibernate-configuration>


<!-- BANCO SERVIDOR DE TESTE   	
	<session-factory>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql://87.117.198.64:3306/esseecraque</property>
    	<property name="connection.username">esseecraque</property>
    	<property name="connection.password">esseecraque</property>
    	<property name="connection.pool_size">1</property>
    	<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
    	<property name="current_session_context_class">thread</property>
    	<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    	<property name="show_sql">true</property>
    	<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">/home/esseecraque/indexes</property>
    	<mapping class="esseecraque.bean.Assinante"/>
    	<mapping class="esseecraque.bean.Video"/>
    	<mapping class="esseecraque.bean.PersistentObject"/>
	</session-factory>    	
-->    	
