dt.tit_cadastro {
	width:640px;
	height:42px;
	display:table;
	background:url(../_imgs/tit_cadastro.jpg);
	margin-top:8px;
}

td.form_nome {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
}
dt.campo_nome {
	width:505px;
	height:22px;
	display:table;
}
.form_campo_nome {
	width:400px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
}
td.form_endereco {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:10px;
}
dt.campo_endereco {
	width:505px;
	height:22px;
	display:table;
}
.form_campo_endereco {
	width:400px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
td.form_cidade {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	margin-top:10px;
}
td.campo_cidade {
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	margin-bottom:auto;
	margin-top:10px;
}
.form_campo_cidade {
	width:120px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
	float:left;
}
td.form_estado {
	width:27px;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	margin-top:10px;
	margin-left:5px;
}
td.campo_estado {
	width:37px;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	margin-top:10px;
	float:left;
}
.form_campo_estado {
	width:30px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
	float:left;
}
td.form_pais {
	width:37px;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	margin-top:10px;
	margin-left:5px;
}
td.campo_pais {
	width:40px;
	height:22px;
	display:table;
	float:left;
}
.form_campo_pais {
	width:100px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
td.form_cep {
	width:35px;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	margin-top:auto;
	float:left;
	margin-bottom:auto;
	margin-top:10px;
	margin-left:5px;
}
td.campo_cep {
	width:60px;
	height:22px;
	display:table;
	margin-left:5px;
}
.form_campo_cep {
	width:60px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
td.form_tel {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	margin-top:10px;
}
dt.campo_tel {
	width:130px;
	height:22px;
	display:table;
	float:left;
}
.form_campo_ddd {
	width:30px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
.form_campo_tel {
	width:80px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
td.form_cel {
	width:30px;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-bottom:auto;
	margin-top:10px;
	margin-left:10px;
}
dt.campo_cel {
	width:130px;
	height:22px;
	display:table;
	float:left;
}
.form_campo_ddd {
	width:30px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
.form_campo_cel {
	width:80px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}
td.form_operadora {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-bottom:auto;
	margin-top:10px;
	
}
dt.campo_operadora {
	width:100px;
	height:22px;
	display:table;
}
.form_campo_operadora {
	width:90px;
	height:22px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	size:12px;
	color:#ABABAB;
}
td.form_nacionalidade {
	width:auto;
	height:22px;
	display:table;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	size:12px;
	color:#ABABAB;
	float:left;
	margin-bottom:auto;
	margin-top:10px;
	
}
td.campo_nacionalidade {
	width:150px;
	height:22px;
	display:table;
	float:left;
}
.form_campo_nacionalidade {
	width:150px;
	height:22px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	size:12px;
	color:#ABABAB;
}

.form_campo_nasc {
	width:50px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	size:12px;
	color:#ABABAB;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}

.form_campo_titulo {
	width:400px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}

.form_campo_descricao {
	width:400px;
	height:60px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;
	margin-top:10px;
}

.valida_form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: red;
	text-decoration: none;
}