body{margin:0px; font-family:Arial, Helvetica, sans-serif; }
.linkado{cursor:pointer; cursor:hand;}

#menu{background:#313133; height:14px; color:#8C8C8C;}
#menu dt span{color:#5F5F5F;}
#menu dt{ width:1000px; margin-left:auto; margin-right:auto; line-height:26px; font-size:13px;}

.menu_topo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.menu_topo:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8C8C8C;
	text-decoration: underline;
}

#topo{background:url(../_imgs/topo_repeat.jpg) center; height:182px; }
#topo div{ width:1000px; margin-left:auto; margin-right:auto;}
.logo{margin-top:10px; padding-left:15px; float:left; display:table;}
.form{padding-left:470px; float:left; display:table;}
.frm_in{width:204px; height:182px; background:#313133; display:table;}

.box_log{background:url(../_imgs/fundo_box_log.jpg); width:118px; height:25px;}
.txt_logs{ font-size:12px; color:#8C8C8C;}
.txt_logs2{ font-size:10px; color:#8C8C8C;}
.txt_logar{ width:112px; border:0px; background:#EEEEEE; margin-top:3px; margin-left:3px;}

.link_logs2{ font-size:10px; color:#8C8C8C; text-decoration: none;}
.link_logs2:hover{ font-size:10px; color:#8C8C8C; text-decoration: underline;}

#meio_fundo{ background:url(../_imgs/fundo_rodape.jpg) bottom center repeat-x;}
#meio{width:1000px; margin-left:auto; margin-right:auto;  display:table; padding-bottom:17px;}
#esquerda{width:640px;  float:left; margin-right:9px;}
.box_busca{width:640px; height:65px;margin-top:8px; background:url(../_imgs/tit_buscar.jpg) left center no-repeat #E6E4E5; display:table;}
.sep_busca{ width:111px; height:27px; float:left;}
.txt_busca{ width:474px; height:27px; background:url(../_imgs/boxbusca.jpg); margin-top:20px; float:left;}
.btn_busca{margin-top:20px; float:left;}
.txt_buscar{ width:460px; border:0px; background:#EEEEEE; margin-top:3px; margin-left:3px;}


.player{ margin-top:8px;}
.desc_player{height:82px; width:640px; display:table;}

.data_pl{color:#EA9006; font-size:11px; margin-left:20px; margin-right:4px;margin-top:3px;}
.desc_pl{color:#706E6F; font-size:11px;margin-left:20px; margin-right:4px;margin-bottom:11px;}
.fundo_desc{margin-left:20px;background:#DEDEDE; padding-left:4px; padding-right:4px; padding-top:2px; padding-bottom:2px; float:left; color:#706E6F; font-size:11px;}
.dir_desc{float:left;}
.meio_desc{float:left; padding-left:47px;}
.mgn5{margin-top:6px;}

.esq_desc{float:left; padding-left:16px; font-size:11px; }
.esq_desc div{background:url(../_imgs/bolinha_verde.jpg) left no-repeat; height:16px; padding-left:20px; margin-top:7px; color:#716F70;}


#ultimos_videos{width:640px; height:133px; margin-top:6px; background:url(../_imgs/ultimos_videos.jpg) left top no-repeat #E0E0E0; }
.seta{float:left; margin-top:45px; padding-left:17px; margin-right:12px; margin-top:63px; cursor:pointer; cursor:hand;}
.seta2{float:left; margin-top:45px;  margin-top:63px; cursor:pointer; cursor:hand;}
.imgs{float:left; margin-top:45px; margin-right:12px; cursor:pointer; cursor:hand;}

#mais_votados{width:640px; height:133px;  margin-top:6px; background:url(../_imgs/mais_votados.jpg) left top no-repeat #E0E0E0;}
.banner2{margin-top:30px;  cursor:pointer; cursor:hand;}


#direita{float:left;margin-top:8px;}
#lists{width:347px;  background:url(../_imgs/direita_repeat.jpg); border-bottom:1px solid #C5C5C7; padding-bottom:3px;}

.nav{background:url(../_imgs/repeat_nav.jpg); height:26px; margin-bottom:3px;}
.nav_esq{float:left; cursor:pointer; cursor:hand;}
.nav1{float:left; font-size:13px; font-weight:bold; color:#72716F; width:125px;text-align:right; line-height:24px;}
.navega{float:left; width:47px; margin-top:2px; text-align:center;  }
.nav2{float:left; font-size:13px; font-weight:bold; color:#72716F; width:125px;line-height:24px;}
.nav_dir{float:left; cursor:pointer; cursor:hand;}
.box_nav{width:40px; height:21px; border:0px; background:url(../_imgs/fnd_box_nav.jpg) no-repeat; text-align:center; font-size:12px;}


.atrasIn{ width: 339px; height:65px; background:#EA9006; display:table; margin-left:4px; cursor:pointer; cursor:hand;}
.atrasOut{ width: 339px; height:65px; background:#fff; display:table; margin-left:4px; cursor:pointer; cursor:hand;}

.fundo_abas {margin:4px; width: 339px;   height:495px; background:url(../_imgs/fundo_abas.jpg); display:table;}
.conteudo_abas {}


.frente{margin:2px; width: 335px; height:65px; background:url(../_imgs/fundo_frene.jpg); display:table;}
.frente div img{border:4px solid #71706E;}
.voto0{background:url(../_imgs/0voto.jpg) right top no-repeat; width:320px; height:58px; margin:4px;}
.img_list {float:left; margin-right:5px;}
.data{color:#EA9006; font-size:11px; margin-left:17px; margin-right:4px; width:260px;}
.desc{color:#706E6F; font-size:11px;margin-left:17px; margin-right:4px;  width:260px;}

.banner{margin-top:6px; }

#rodape{ height:209px; background:#313133; }
.rodape_in{width:1000px; margin-left:auto; margin-right:auto; display:table;}

.rod_esq{float:left; color:#8B8B8D; font-size:11px; height:169px; width:430px; padding-left:24px; margin-top:29px; background:url(../_imgs/sep_rodape.jpg) right no-repeat;}
.ico { margin-top:23px; margin-right:20px; cursor:pointer; cursor:hand; }
.rod_esq span{ font-size:22px; font-weight:bold;}


.rod_dir{float:left; color:#5F5F5F;  font-size:11px; height:169px; width:329px; padding-left:73px; margin-top:29px;}
.rod_dir span{ font-size:22px; font-weight:bold; color:#8B8B8D;}

#rodape_baixo{ height:64px; text-align:center; line-height:64px; background:url(../_imgs/repeat_rodape.jpg); font-size:11px; color:#8C8C8C;}
#rodape_baixo span{color:#5E5E5E}


#resultado_busca{ width:640px; height:272px; display:table; margin-top:6px;}

.topo_rbusca{height:54px; width:640px; background:url(../_imgs/tit_rBusca.jpg) #D8D8D8 no-repeat; }
.btns_rbusca{height:27px; width:640px; background:url(../_imgs/topo_box_rBusca.jpg) bottom no-repeat #D8D8D8; }
.down_rbusca{height:190px; width:640px; background:url(../_imgs/repeat_box_rBusca.jpg); border-bottom:1px solid #B5B5B5; display:table; }
.down_rbusca div{ float:left; }
.setaBusca1{padding-left:12px; padding-right:12px; margin-top:78px; cursor:pointer; cursor:hand;}
.setaBusca2{  margin-top:78px; cursor:pointer; cursor:hand;}


#btnRes1{width:117px;  float:left; margin-left:37px; background:url(../_imgs/btRes_videos.jpg); cursor:pointer; cursor:hand;}
#btnRes2{width:117px; float:left; margin-left:1px;  background:url(../_imgs/btRes_usuarios.jpg); cursor:pointer; cursor:hand;}
#btnRes3{width:117px;  float:left; margin-left:1px;  background:url(../_imgs/btRes_canais.jpg); cursor:pointer; cursor:hand;}

.openRes{border-bottom:1px solid #B5B5B5; height:26px; cursor:pointer; cursor:hand;}
.closeRes{height:27px; cursor:pointer; cursor:hand;}


.meio_it_rBusca{ width:560px; height:158px; margin-top:16px; }
.meio_it_rBusca div{ float:left; margin-right:12px; margin-bottom:12px; cursor:pointer; cursor:hand;}


/*BUSCA AVANÇADA*/

.txt_busca_avancada{ font-size:11px; color:#8C8C8C;}

.form_busca_avancada {
	width:100px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;}

.form_busca_avancada_02 {
	width:30px;
	height:20px;
	border:solid 1px #D3D3D3;
	background-color:#F5F5F5;}
	
/*MEUS VIDEOS*/

#meus_videos { 
width:640px; 
height:470px;
display:table;
}	

.table_videos
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #D3D3D3;
	text-decoration: none;
}

.form_upload{
width:640px; 
height:470px;
display:table;
}	

